/* label {
} */

* {
    text-align:center;
    font-family: 'Maven Pro', sans-serif;
    
}
.title {
    background-color:rgba(56, 130, 180, 0.767);
    color:white;
    padding:20px;
    margin-bottom: 20px;
    border-bottom: 2px solid rgb(135, 216, 135);
    
}
.card {
    border:2px solid rgba(56, 130, 180, 0.767);
    color:rgba(33, 51, 63, 0.767)
}
.trans {
    color:rgba(33, 51, 63, 0.767)
}
.start, .restart {
    width:100px;
    border:2px solid rgba(56, 130, 180, 0.767);
    /* display:block; */
    border-radius:5px;
    color:rgb(135, 216, 135);
    margin:auto;
    margin-top:20px;
    padding:10px;
    /* place-content: center; */
}

.countdown {
    font-size:40px;

}

.countdownUrgent {
    color:red;
}
.question {
    font-size:24px;
}

.opt {
    width:200px;
    font-size:18px;
    margin:auto;
    padding:5px;
}
.option1 {
    margin-top:20px;
}

.option4 {
    margin-bottom:10px;
}

label:hover {
    cursor: pointer;
    background-color: rgb(135, 216, 135);
}

.start:hover{
    cursor: pointer;
    background-color: rgb(135, 216, 135);
    color:white;
}

.restart:hover{
    cursor: pointer;
    background-color: rgb(135, 216, 135);
    color:white;
}