.jumbotron {
    text-align:center;
    text-shadow: 20px;
    background-color:#165c28;
    font-family: 'Impact';
    color: #c47d20;
    width:75%;
    margin:auto;
}

.wrapper {
    width: 80%;
    margin: auto;
    text-align:center;
}

.mushies {
    display:flex;
    align-items:center;
    float:center;
    justify-content: center;


}

.clickable {
    border:2px solid brown;
    height:150px;
    width: 150px;
    margin: 5px;

}

.wins .losses {
    display:float
}

